.link {
  @apply hover:text-themeable-cyan-500
    hover:border-themeable-cyan-500
    hover:border-b-2
    transition;
}

.text-link {
  @apply text-themeable-orange-400
    hover:text-themeable-orange-500
    transition;
}

/* show menu when dropdown is hovering */
.dropdown:hover .dropdown-menu {
  display: block;
}
